Package: oh-rest-client
Version: ${VERSION}
Section: httpd
Priority: optional
Architecture: all
Depends: oh-tomcat-app
Maintainer: pete reisinger <p.reisinger@gmail.com>
Description: rest client
 web application for testing REST services
